<div id="app" class="indexTab content">
	<div class="mainBlock" >
		<div class="actions" >
			<div class="right">
				<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn">{{ $t("homepage.actions.loadWallet") }}</a>
				<a href="#!import" class="btn">{{ $t("homepage.actions.importWallet") }}</a>
				<a href="#!createWallet" class="btn">{{ $t("homepage.actions.create") }}</a>
			</div>
		</div>

		<div class="headline" >
			<div><img src="./assets/img/turtlehex.png" height="200px" width="200px" /></div>
			<h1 style="font-size: 3.7rem;">TurtleStash</h1>
			<h2 style="font-size: 2rem;">TurtleCoin Web Wallet</h2>
		</div>
		<div class="callToAction tc" >
			<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn">{{ $t("homepage.actions.loadWallet") }}</a>
			<a href="#!createWallet" class="btn" >{{ $t("homepage.actions.createWallet") }}</a>
		</div>
	</div>

</div>